{% extends "schedule/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}    <!-- This is to add required security to our forms. -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outlin-info" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">Already Have an Account? <a class="ms-2" href="#">Login</a></small>
        </div>
    </div>
{% endblock content %}