{% extends "schedule/base.html" %}

{% block content %}
    <h1 class='text-center'>Schedule Me</h1><p class='text-center'>{{ user.username }}'s Schedule</p>

    {% if events %}
        {% if sundays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Sunday">Sunday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in sundays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in sundays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}   
        
        {% if mondays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Monday">Monday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in mondays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in mondays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>    
        {% endif %}

        {% if tuesdays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Tuesday">Tuesday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in tuesdays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in tuesdays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if wednesdays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Wednesday">Wednesday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in wednesdays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in wednesdays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if thursdays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Thursday">Thursday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in thursdays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in thursdays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if fridays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Friday">Friday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in fridays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in fridays %}
                <tr><th height='40px'>
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if saturdays %}
        <h2 class='text'><a class='text-decoration-none text-dark' href="event_day/Saturday">Saturday</a></h2>
        <div class="row">
            <div class="column">
                <table class="table", style="width: 100%">
                {% for item in saturdays %}
                    <tr>    <th id="time">{{ item.get_time_display }}</th>    <th>{{ item.title }}</th>     </tr>
                {% endfor %}
                </table>
            </div>

            <div class='column'>
                <table class="table-borderless" height='40px'>
                {% for item in saturdays %}
                <tr><th height='40px' text-align="right">
                    <a class='btn btn-outline-info' href="{% url 'event-update' item.id %}">Update</a>
                    <a class='delete-button btn btn-outline-danger' href="{% url 'event-delete' item.id %}">Delete</a>
                </th></tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        
        <p></p>

        <!-- Code used to debug events -->
        <!-- {% for event in events %}  
            <li><a href="{% url 'event_day' event.day %}">Title: {{ event.title }}, Day: {{ event.day }}, Time: {{ event.time }}, Creator: {{ event.creator }}</a></li>    
        {% endfor %} -->
    {% else %}
        <p>No event list</p>
    {% endif %}

    {% if events %}
    <footer class='text-muted'><p>Hint: click on the weekdays to view just those days!</p></footnote>
    {% else %}
    <footer class='text-muted'><p>Hint: click on the '+' in the bottom-right corner to add a new event!</p></footnote>
    {% endif %}

    <a href="{% url 'event-create' %}"><img class='floating-bottom-right' src='/static/img/red plus.png'></a>
{% endblock content %}