{% extends "schedule/base.html" %}

{% block content %}
<p></p>
    <center><h2>Welcome to Schedule Me!</h2></center>
    {% if user.is_authenticated %}
        <p class='fd-5 text-center'>Go to <a href="{% url 'scheduler' %}">Scheduler</a> to see schedule.</p>       
    {% else %}
        <p class='fs-5 text-center'>Please <a href="{% url 'login' %}">Sign In</a> to see schedule.</p>
    {% endif %}

    {% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}